// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

// Default Params
params {
    version             = false
    help                = false
}

// Profiles
profiles {
    hpc_slurm {
        singularity {
            enabled = true
            autoCleanUp = true
            autoMounts = true
            cacheDir = "/data1/papaemme/isabl/opt/singularity"
            envWhitelist = "SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD"
        }
        process {
            container = "/usersoftware/papaemme/isabl/local/nf-proteinactivity/v1.0.0/nf_proteinactivity_v1.0.0.sif"
            array = 100
            executor = "slurm"
            queue = "componc_cpu"
            memory = { 4.GB * task.attempt }
            errorStrategy = { task.exitStatus in [137,139,140,143] ? "retry" : "terminate" }
            maxRetries = 3
        }
    }
}

